<h1><%= @chatroom.topic %></h1>
<h2>Online User</h2>
<% for x in @chatroom.user_ids do %>
	<ul class="onlineuser"><li id="onlineuser"><%= User.find(x).username %></li></ul>
<% end %>

<!-- All sent messages -->
<div id="box">
<div id="message-box" class="message-box">
	
	<% if @chatroom.messages.any? %>
	<div id="hahaha">
		<%= render partial: 'messages/message', collection: @chatroom.messages%>
	
	</div>

	<% end %>

</div>
</div>
<!-- message form -->
<%= render partial: 'messages/message_form', locals: {chatroom: @chatroom}%>

	<%= link_to "Back to Chatrooms", chatrooms_path, :id=>"bottom" %>

