<ul>
<% Chatroom.all.each do |x|%>
<li class="chatroomslistinshow"><%= x.topic %></li>
<% end %>
</ul>

<br>
<h1 class="chatroomtopic"><%= @chatroom.topic %></h1>
<%= link_to "Back to Chatrooms", chatrooms_path, :id=>"backtochatroom" %>




<!-- All sent messages -->
<div id="box">
<div id="message-box" class="message-box">
	
	<% if @chatroom.messages.any? %>
	<div id="hahaha">
		<%= render partial: 'messages/message', collection: @chatroom.messages%>
	
	</div>

	<% end %>

</div>
</div>
<!-- message form -->
<%= render partial: 'messages/message_form', locals: {chatroom: @chatroom}%>




